body{
    height: 100%;
    background-repeat: no-repeat;
    background: url("../images/estudiantes.jpg")no-repeat center center fixed;
    background-size: 100% 100%;
}

.barra{
    background-color:#292953;
}
.titulo{
    color: white;
    font-size: xxx-large;
    font-family:"Yu Gothic UI Semilight";
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: #ebdd8b;
}
.titulo:hover{
    color: #ebdd8b;
}
.btn{
    background-color: #a7adae;
    color: white;
    border-color: snow;
}
.btn:hover{
    background-color:white;
    border-color: #a7adae;
    color: black;
}


